.walletsModalInner {
    border-radius: 40px 40px 0 0;
    background-color: #092234;
}

.walletsModalContent {
    padding: 21px;
}

@media (min-width: 768px) {
    .walletsModalInner {
        border-radius: 40px;
    }
    .walletsModalContent {
        padding: 32px;
    }
}