.overviewHeading {
    display: flex;
    justify-content: center;
    align-items: center;
}
.overviewCardsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    gap: 10px;
}
.overviewCardsWrapper:not(:first-child) {
    margin-top: 20px;
}
.overviewTitle {
    padding-left: 5px;
    display: none;
}

.loanOverview {
    min-height: 220px;
    margin-top: 16px;
}

@media (min-width: 768px) {
    .overviewTitle {
        display: block;
    }
    .overviewCardsWrapper {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 20px;
    }
    .loanOverview {
        margin-top: 40px;
    }
}