.collectInterestModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.collectInterestModalTitle {
    color: #E9E9E9DB;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.collectInterestContent {
    background-color: #08101B6E;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 20px;
    border-radius: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.collectInterestButton {
    background-color: #1E90FF;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.collectInterestButton:hover {
    background-color: #1C86EE;
}

@media (min-width: 768px) {
    .collectInterestContent {
        font-size: 17px;
        line-height: 23px;
        padding: 28px;
    }
    .collectInterestButton {
        font-size: 17px;
        padding: 12px 24px;
    }
}