.accountsCardInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accountsCardTitle {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.639px;
    margin-bottom: 10px;
}
.accountsCardSubtitle {
    color: #475467;
    font-size: 12px;
    letter-spacing: -0.639px;
}