.container {
    max-width: 896px;
    margin: 0 auto;
    background-color: #08101B;
    padding: 20px;
}
.mainSection {
    margin-top: 12px;
}
.overviewHeading {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.overviewCardsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    gap: 10px;
    margin-top: 16px;
}
.overviewTitle {
    padding-left: 5px;
    display: none;
}
.sectionTitle {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}
.sectionSelect {
    border-radius: 6px;
    background-color: var(--light-gray);
    height: 33px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    appearance: none;
    width: 80px;
    padding-right: 24px;
    border: none;
    outline: none;
}
.sectionSelectOption {
    color: #475467;
}
.sectionSelect:focus {
    outline: none;
}
.sectionSelectWrapper {
    position: relative;
    z-index: 0;
}
.sectionSelectArrow {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.fundsSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 16px;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
.fundsSectionCard {
    min-width: 224px;
}
.fundsSectionCardInner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fundsSectionCardTitle {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: -0.639px;
}
.fundsSectionCardSubtitle {
    color: #475467;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.639px;
    margin-top: 10px;
}
.fundsSectionCardTitleButton {
    transition: 0.3s all ease-in-out;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fundsSectionCardTitleButton:hover {
    opacity: 0.8;
}
.fundsSectionCardMessage {
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.639px;
    color: #475467;
    background-color: var(--light-gray);
    padding: 4px 6px;
    height: 20px;
}
.fundsSectionCardValue {
    font-size: 10px;
    letter-spacing: -0.639px;
    text-align: right;
    margin-top: 8px;
    color: #475467;
}
.accountsWrapper {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 16px;
    margin-top: 14px;
}
.positionsCardsWrapper {
    margin-top: 28px;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 16px;
}
.positionsSection {
    margin-top: 24px;
}

@media (min-width: 768px) {
    .positionsCardsWrapper {
        margin-top: 40px;
        gap: 32px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .fundsSectionCardTitle {
        font-size: 24px;
    }
    .accountsWrapper {
        display: none;
    }
    .fundsSection {
        margin-top: 20px;
        gap: 20px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .overviewHeading {
        justify-content: space-between;
    }
    .fundsSectionCard {
        width: 100%;
    }
    .container {
        min-height: 100dvh;
        padding: 35px;
    }
    .mainSection {
        margin-top: 56px;
    }
    .overviewTitle {
        display: block;
    }
    .overviewCardsWrapper {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 20px;
        margin-top: 40px;
    }
    .sectionTitle {
        font-size: 24px;
    }
}